[Unit]
Description=Reinstall steam-deck-smart-sleep hook after SteamOS update
After=local-fs.target

[Service]
Type=oneshot
ExecStart=__INSTALL_SCRIPT__
RemainAfterExit=yes
